.productList {
    display: flex;
    
    justify-content: center;
    gap: 70px;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
}

.productList__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}