.AddedProductList {
    position: relative;

    .AddedProductList__toggleSwitch {
        position: absolute;
        top: -65px;
        right: 0;
    }

}

.AddedProductList__table {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.AddedProductList__head {
    font-size: 16px;
    padding: 10px 5px;
    background-color: #283645;
    color: white;
    width: 160px;
}

.AddedProductList__info {
    td {
        font-size: 18px;
        background-color: #fff;
        color: #283645;
        border: 2px solid #e5e5e5;
        padding: 5px;
    }

    .AddedProductList__date{
        width: 200px;
    }
}